{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Finder</title>
    <link rel="stylesheet" href="{% static 'admin.css' %}">
</head>
<body>

    
    <header class="header">
        <h1 class="logo">JobFinder</h1>
        <nav>
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="jobs">Jobs</a></li>
            <li><a href="admin_page">Admin</a></li>
          </ul>
        </nav>
    </header>

    <div class="contain">
    <div class="one">
        <img src="{% static 'admin1.png' %}" height="200px" width="400px" class="img">

        <a href="post_form"><button>Post a Job</button></a>
    </div>

    
    <div class="two">
        <img src="{% static 'admin2.png' %}" height="200px" width="400px" class="img">

        <a href="apply_datas"><button>Datas</button></a>
    </div>
</div>

</body>
</html>